name: 'CI publish'
on:
  push:
    branches:
      - '!*'
    tags:
      - '*'

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 14
      - name: 'install'
        run: npm ci --ignore-scripts

      - name: 'build'
        run: npm run build-lib

      - id: get_version
        uses: battila7/get-version-action@v2

      - name: 'publish'
        run: |
          npm config set //registry.npmjs.org/:_authToken ${NPM_TOKEN}
          npm run publish --tag ${{ steps.get_version.outputs.version-without-v }}
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
