name: 'CI test'
on:
  push:
    branches:
  pull-request:
    branches:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        name: 'setup node'
        with:
          node-version: 14

      - name: 'install'
        run: npm ci --ignore-scripts

      - name: 'test-lib'
        run: npm run test-lib
    env:
      CI: true
